<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
<Appenders>
<File name="File" fileName="C:\\workspace\citygreeter\src\Trace.log" append="false">
<PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"></PatternLayout>
</File>
</Appenders>
<Loggers>
<Root level="debug">
<AppenderRef ref="File"/>
</Root>
</Loggers>
</Configuration>